{% load static %}
{% block content %}
    <section>
        <div class="collapse" id="advancedSearch">
            <p>{% lorem 20 w random %}</p>
        </div>
        <div>
            <button type="button"
                    class="btn btn-sm btn-secondary"
                    data-bs-toggle="collapse"
                    data-bs-target="#advancedSearch"
                    aria-expanded="false"
                    aria-controls="advancedSearch">
                Filter by Type
            </button>
        </div>
    </section>
{% endblock content %}
