<!DOCTYPE html>
<html lang="EN">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="keywords" content="pokedex" />
    <meta name="description" content="pokemon cards" />
    <meta name="language" content="EN"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"
          href="{% static 'node_modules\bootstrap\dist\css\bootstrap.min.css' %}"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'custom_css\base.css' %}"/>
    {% block pagetitle %}
    {% endblock pagetitle %}
  </head>
  <body>
    {% block content %}
    {% endblock content %}
    <script src="{% static 'node_modules\bootstrap\dist\js\bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
